<a href="https://colab.research.google.com/github/mehul-sonthalia1987/Flip-Robo/blob/Web-Scraping/Amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
from bs4 import BeautifulSoup
import requests
import re
HEADERS = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}
url = 'https://www.amazon.in/s?k=mobiles+under+20000&ref=nb_sb_noss_2'
response = requests.get(url,headers=HEADERS)
soup = BeautifulSoup(response.text, 'lxml')
Product_Name=[]
Product_Price=[]
Product_ImageURL=[]
Product_Rating=[]
Name = soup.select('span.a-size-medium.a-color-base.a-text-normal')
for i in Name:
  Product_Name.append(i.text.replace('\n', ''))

Price=soup.select('span.a-price-whole')
for i in Price:
  Product_Price.append(i.text.replace('\n', ''))
Product_Price

Product_ImageURL = soup.select('div.a-section.aok-relative.s-image-fixed-height')

import pandas as pd
Amazon = pd.DataFrame({})
Amazon['Name']=Product_Name
Amazon['Price']=Product_Price
Amazon['URL']=Product_ImageURL
Amazon

                                                 Name   Price   URL
0   Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...   6,799  [[]]
1                     itel Ace(4.5cm, 1000mAh, Black)     815  [[]]
2   Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...   8,799  [[]]
3   Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage...  10,499  [[]]
4   Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...  11,490  [[]]
5   Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64...   9,499  [[]]
6   Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB...  16,999  [[]]
7   Redmi 9 Power (Mighty Black, 6GB RAM, 128GB St...  12,999  [[]]
8   Samsung Galaxy M12 (Black,4GB RAM, 64GB Storag...  10,499  [[]]
9   Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...  11,490  [[]]
10  Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...   8,799  [[]]
11  Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...  10,999  [[]]
12  Vivo Y51A (Titanium Sapphire, 8GB, 128GB Stora...  17,990  [[]]
13  Samsung Galaxy M11 (Black, 4GB RAM, 64GB Stora...   9,499  [[]]
14  Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...   6,798  [[]]
15  Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storag...  12,999  [[]]