# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [2]:
!pip install selenium
!pip install beautifulsoup4
import os,random, sys, time
#from urllib.parse import urlparse
from selenium import webdriver
from bs4 import BeautifulSoup

Requirement already satisfied: selenium in c:\users\techno\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\techno\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: beautifulsoup4 in c:\users\techno\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\techno\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)

In [ ]:
browser = webdriver.Chrome('chromedriver.exe')

In [156]:
browser.get('https://www.naukri.com')
browser.maximize_window()

KeyboardInterrupt:

In [ ]:
designation = browser.find_element_by_id('qsb-keyword-sugg')
designation.send_keys("Data Analyst")

In [ ]:
location = browser.find_element_by_id('qsb-location-sugg')
location.send_keys("Bangalore")

In [ ]:
search_button = browser.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [ ]:
title = []
Title_list = browser.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
Title_list
for i in Title_list:
  title.append(i.text.replace('\n', ''))
title

In [ ]:
company = []
Company_list = browser.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

for i in Company_list:
  company.append(i.text.replace('\n', ''))
company

In [ ]:
exp = []
Exp_list = browser.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
for i in Exp_list:
  exp.append(i.text.replace('\n', ''))
exp[:3:]

In [ ]:
year_exp=[]
year_exp=exp[0::3]

In [ ]:
location_job=[]
location_job=exp[2::3]
location_job

In [ ]:
import pandas as pd
Naukri = pd.DataFrame({})
Naukri['Job Title']=title[:10:]
Naukri['Company']=company[:10:]
Naukri['Exp Reqd ']=year_exp[:10:]
Naukri['Job Location']=location_job[:10:]

Naukri

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [ ]:
browser = webdriver.Chrome('chromedriver.exe')

In [ ]:
browser.get('https://www.naukri.com')
designation = browser.find_element_by_id('qsb-keyword-sugg')
designation.send_keys("Data Analyst")
location = browser.find_element_by_id('qsb-location-sugg')
location.send_keys("Bangalore")
search_button = browser.find_element_by_xpath("//button[@class='btn']")
search_button.click()
time.sleep(30)
title = []
Title_list = browser.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
Title_list
for i in Title_list:
  title.append(i.text.replace('\n', ''))
company = []
Company_list = browser.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

for i in Company_list:
  company.append(i.text.replace('\n', ''))
exp = []
Exp_list = browser.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
for i in Exp_list:
  exp.append(i.text.replace('\n', ''))
year_exp=[]
year_exp=exp[0::3]
location_job=[]
location_job=exp[2::3]

In [ ]:
import pandas as pd
Naukri = pd.DataFrame({})
Naukri['Job Title']=title[:10:]
Naukri['Company']=company[:10:]
Naukri['Exp Reqd ']=year_exp[:10:]
Naukri['Job Location']=location_job[:10:]

Naukri

In [ ]:
#3

In [ ]:
title_url = []
for i in Title_list:
      title_url.append(i.get_attribute('href'))
title_url

In [ ]:
desc_newline=[]
heading = []

In [ ]:
for j in title_url[:10:]:
    browser.get(j)    
    
    try:
        Job_Desc = browser.find_element_by_xpath('//div[@class="dang-inner-html"]')
        desc_newline.append(Job_Desc.text.replace('\n', ''))
    except:
        Job_Desc = browser.find_element_by_xpath('//div[@class="nConfig_textblock "]')
        desc_newline.append(Job_Desc.text.replace('\n', ''))
      
    #Job_Heading= browser.find_element_by_xpath('//h1[@class="jd-header-title"]')
    #heading.append(Job_Heading.text.replace('\n', ''))

In [ ]:
desc_newline

In [ ]:
len(desc_newline)

In [ ]:
Naukri_desc = Naukri
Naukri_desc['Description']=desc_newline[:10:]
Naukri_desc

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [ ]:
browser.get('https://www.naukri.com')

In [ ]:
designation = browser.find_element_by_id('qsb-keyword-sugg')
designation.send_keys("Data Scientist")

In [ ]:
location = browser.find_element_by_id('qsb-location-sugg')
location.send_keys("Bangalore")

In [ ]:
search_button = browser.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [ ]:
location_checkbox = browser.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[4]/label/p/span[1]")
location_checkbox.click()

In [ ]:
salary_checkbox = browser.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p/span[1]")
salary_checkbox.click()

In [ ]:
title2 = []
Title_list2 = browser.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
Title_list2
for i in Title_list2:
  title2.append(i.text.replace('\n', ''))
title2

In [ ]:
company2 = []
Company_list2 = browser.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

for i in Company_list2:
  company2.append(i.text.replace('\n', ''))
company2

In [ ]:
exp2 = []
Exp_list2 = browser.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
for i in Exp_list2:
  exp2.append(i.text.replace('\n', ''))
exp2

In [ ]:
year_exp2=[]
year_exp2=exp2[0::3]
year_exp2

In [ ]:
location_job2=[]
location_job2=exp2[2::3]
location_job2

In [ ]:
import pandas as pd
Naukri_Checkbox = pd.DataFrame({})
Naukri_Checkbox['Job Title']=title2[:10:]
Naukri_Checkbox['Company']=company2[:10:]
Naukri_Checkbox['Exp Reqd ']=year_exp2[:10:]
Naukri_Checkbox['Job Location']=location_job2[:10:]

Naukri_Checkbox

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. 
You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [185]:
browser = webdriver.Chrome('chromedriver.exe')

In [186]:
browser.get('https://www.flipkart.com')
#browser.maximize_window()

In [187]:
try:
    button = browser.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    button.click()
except:
    pass

In [188]:
search_sunglass = browser.find_element_by_xpath("//input[@class='_3704LK']")
search_sunglass.send_keys("Sunglasses")
search_sunglass.send_keys(u'\ue007')

In [189]:
desc1 = []
for counter in range(0,4):
    description = browser.find_elements_by_xpath("//div[@class='_2B099V']")
    for i in description:
        desc1.append(i.text.split('\n'))
    #browser.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(10)
    next_button = browser.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(15)
    counter=counter+1
print(len(desc1))

120

In [190]:
brand = [i[0] for i in desc1]

In [191]:
description = [i[1] for i in desc1]

In [192]:
price = [i[2] for i in desc1]

['₹359₹1,49976% off',
 '₹349₹2,59986% off',
 '₹193₹1,29885% off',
 '₹243₹1,29981% off',
 '₹287₹1,99885% off',
 '₹220₹79972% off',
 '₹227₹1,29982% off',
 '₹359₹1,49976% off',
 '₹261₹1,59983% off',
 '₹155₹49968% off',
 '₹148₹1,29988% off',
 '₹355₹99964% off',
 '₹348₹2,25684% off',
 '₹649₹89927% off',
 '₹229₹1,19980% off',
 '₹287₹1,99885% off',
 '₹144₹69979% off',
 '₹467₹1,49968% off',
 '₹209₹99979% off',
 '₹291₹1,99985% off',
 '₹649₹89927% off',
 '₹879₹1,29932% off',
 '₹224₹99977% off',
 '₹449₹1,49970% off',
 '₹575₹79928% off',
 '₹192₹1,09982% off',
 '₹152₹49969% off',
 '₹164₹1,59989% off',
 '₹359₹1,49976% off',
 '₹255₹1,19978% off',
 '₹175₹49964% off',
 '₹165₹1,59989% off',
 '₹939₹2,25058% off',
 '₹200₹1,59987% off',
 '₹225₹1,59985% off',
 '₹898₹899',
 '₹197₹1,29884% off',
 '₹375₹1,29971% off',
 '₹799₹99920% off',
 '₹325₹1,66980% off',
 '₹2,369₹4,70049% off',
 '₹449₹1,49970% off',
 '₹1,049₹4,10074% off',
 '₹308₹69955% off',
 '₹664₹1,99966% off',
 '₹239₹99976% off',
 '₹6,189₹6,190',
 '₹246₹1,99987% off',
 '₹246₹1,99687% off',
 '₹166₹99983% off',
 '₹619₹79922% off',
 '₹9,799₹10,89010% off',
 '₹549₹2,99981% off',
 '₹399₹1,49973% off',
 '₹1,149₹4,10071% off',
 '₹9,169₹10,19010% off',
 '₹711₹1,99964% off',
 '₹467₹1,49968% off',
 '₹1,289₹1,99935% off',
 '₹652₹3,69982% off',
 '₹174₹1,52588% off',
 '₹664₹2,99977% off',
 '₹729₹3,24977% off',
 '₹446₹1,52570% off',
 '₹3,289₹5,49040% off',
 '₹414₹2,75084% off',
 '₹359₹1,49976% off',
 '₹186₹99981% off',
 '₹9,259₹10,29010% off',
 '₹359₹1,49976% off',
 '₹539₹1,19054% off',
 '₹379₹2,19982% off',
 '₹224₹1,29982% off',
 '₹179₹99982% off',
 '₹1,179₹1,99941% off',
 '₹275₹49944% off',
 '₹649₹89927% off',
 '₹261₹1,59983% off',
 '₹699₹1,99965% off',
 '₹248₹1,99987% off',
 '₹489₹1,09055% off',
 '₹664₹1,99966% off',
 '₹225₹59962% off',
 '₹770₹3,99980% off',
 '₹770₹3,99980% off',
 '₹679₹2,47572% off',
 '₹1,999₹2,49920% off',
 '₹1,898₹1,899',
 '₹1,309₹2,99956% off',
 '₹336₹1,70080% off',
 '₹259₹1,39981% off',
 '₹514₹2,85081% off',
 '₹759₹1,99962% off',
 '₹489₹1,09055% off',
 '₹664₹1,49955% off',
 '₹699₹1,49953% off',
 '₹664₹1,99966% off',
 '₹186₹79976% off',
 '₹154₹75079% off',
 '₹3,349₹4,79030% off',
 '₹549₹89938% off',
 '₹1,007₹4,25076% off',
 '₹10,889₹10,890',
 '₹351₹1,52576% off',
 '₹872₹3,69976% off',
 '₹449₹1,49970% off',
 '₹1,179₹1,99941% off',
 '₹222₹1,05578% off',
 '₹661₹2,85076% off',
 '₹9,799₹10,89010% off',
 '₹5,939₹8,49030% off',
 '₹340₹1,20071% off',
 '₹199₹99980% off',
 '₹472₹1,52569% off',
 '₹269₹1,99986% off',
 '₹664₹1,99966% off',
 '₹711₹1,99964% off',
 '₹499₹1,49966% off',
 '₹1,234₹2,49950% off',
 '₹664₹1,99966% off']

In [193]:
prod_price = [i.split('₹', 2)[1] for i in price]

In [194]:
discount = [i[-7:] for i in price]

['76% off',
 '86% off',
 '85% off',
 '81% off',
 '85% off',
 '72% off',
 '82% off',
 '76% off',
 '83% off',
 '68% off',
 '88% off',
 '64% off',
 '84% off',
 '27% off',
 '80% off',
 '85% off',
 '79% off',
 '68% off',
 '79% off',
 '85% off',
 '27% off',
 '32% off',
 '77% off',
 '70% off',
 '28% off',
 '82% off',
 '69% off',
 '89% off',
 '76% off',
 '78% off',
 '64% off',
 '89% off',
 '58% off',
 '87% off',
 '85% off',
 '898₹899',
 '84% off',
 '71% off',
 '20% off',
 '80% off',
 '49% off',
 '70% off',
 '74% off',
 '55% off',
 '66% off',
 '76% off',
 '9₹6,190',
 '87% off',
 '87% off',
 '83% off',
 '22% off',
 '10% off',
 '81% off',
 '73% off',
 '71% off',
 '10% off',
 '64% off',
 '68% off',
 '35% off',
 '82% off',
 '88% off',
 '77% off',
 '77% off',
 '70% off',
 '40% off',
 '84% off',
 '76% off',
 '81% off',
 '10% off',
 '76% off',
 '54% off',
 '82% off',
 '82% off',
 '82% off',
 '41% off',
 '44% off',
 '27% off',
 '83% off',
 '65% off',
 '87% off',
 '55% off',
 '66% off',
 '62% off',
 '80% off',
 '80% off',
 '72% off',
 '20% off',
 '8₹1,899',
 '56% off',
 '80% off',
 '81% off',
 '81% off',
 '62% off',
 '55% off',
 '55% off',
 '53% off',
 '66% off',
 '76% off',
 '79% off',
 '30% off',
 '38% off',
 '76% off',
 '₹10,890',
 '76% off',
 '76% off',
 '70% off',
 '41% off',
 '78% off',
 '76% off',
 '10% off',
 '30% off',
 '71% off',
 '80% off',
 '69% off',
 '86% off',
 '66% off',
 '64% off',
 '66% off',
 '50% off',
 '66% off']

In [195]:
print(len(brand), len(description), len(prod_price), len(disc1))
#disc1 = []
#discount = browser.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
#for i in discount:
  #disc1.append(i.text)
#disc1

120 120 120 118

In [196]:
Flipkart = pd.DataFrame()
Flipkart['Brand'] = brand[:100]
Flipkart['Description'] = description[:100]
Flipkart['Price'] = prod_price[:100]
Flipkart['Discount'] = disc1[:100]
Flipkart

,Brand,Description,Price,Discount
0,ROYAL SON,Mirrored Aviator Sunglasses (55),359,81% off
1,PIRASO,UV Protection Butterfly Sunglasses (65),349,76% off
2,PHENOMENAL,"UV Protection, Mirrored Round Sunglasses (Free...",193,82% off
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",243,41% off
4,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",287,79% off
...,...,...,...,...
95,ROYAL SON,UV Protection Over-sized Sunglasses (65),699,10% off
96,ROYAL SON,"UV Protection, Gradient Over-sized Sunglasses ...",664,71% off
97,GANSTA,UV Protection Wayfarer Sunglasses (54),186,66% off
98,NuVew,"UV Protection, Mirrored Aviator Sunglasses (57)",154,55% off
99,Ray-Ban,Mirrored Round Sunglasses (55),"3,349",73% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. 
You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [ ]:
browser = webdriver.Chrome('chromedriver.exe')

In [208]:
browser.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC")

In [209]:
review_button = browser.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div")
review_button.click()

In [210]:
time.sleep(5)

In [212]:
ratings=[]
review_summary=[]
full_review = []
for counter in range(0,11):
    rating = browser.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating:
      ratings.append(i.text)
    summary = browser.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in summary:
        review_summary.append(i.text)
    review = browser.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in review:
        full_review.append(i.text.replace('\n','.'))
    time.sleep(5)
    next_button = browser.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(15)
    counter=counter+1

In [213]:
print(len(ratings))
print(len(review_summary))
print(len(full_review))

109
110
110

In [214]:
iphone = pd.DataFrame()
iphone['Ratings'] = ratings[:100]
iphone['Review Summary'] = review_summary[:100]
iphone['Full Review'] = full_review[:100]
iphone

,Ratings,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money..The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,It’s very good battery life and display and vi...
96,5,Terrific purchase,Value for money 🖤🖤
97,5,Terrific purchase,Value for money 😍
98,5,Just wow!,Nice product.The camera is extremely good whic...
99,5,Super!,Good product 👌I love iPhone

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [219]:
browser = webdriver.Chrome('chromedriver.exe')
browser.get('https://www.flipkart.com')
try:
    button = browser.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    button.click()
except:
    pass
search_sneakers = browser.find_element_by_xpath("//input[@class='_3704LK']")
search_sneakers.send_keys("Sneakers")
search_sneakers.send_keys(u'\ue007')

In [220]:
desc1 = []
for counter in range(0,4):
    description = browser.find_elements_by_xpath("//div[@class='_2B099V']")
    for i in description:
        desc1.append(i.text.split('\n'))
    #browser.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(10)
    next_button = browser.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(15)
    counter=counter+1
print(len(desc1))

120

In [221]:
desc1

[['ESSENCE', 'Sneakers For Men', '₹399₹99960% off'],
 ['Kraasa', 'Series 7 Sneakers For Men', '₹444₹99955% off'],
 ['Starlinc', 'Sneakers For Men', '₹237₹99976% off'],
 ['Echor',
  "Echor Men's Sneakers Fashion Lightweight Running Shoes ...",
  '₹569₹1,49962% off',
  'Free delivery'],
 ['BIRDE',
  'Combo Pack of 2 Casual Shoes Sneakers For Men',
  '₹594₹1,49960% off',
  'Free delivery'],
 ['URBANBOX', 'STYLISH-WHITE-6 Sneakers For Men', '₹220₹49955% off'],
 ['Robbie jones',
  'Casual Sneakers Black Shoes For Men Sneakers For Men',
  '₹451₹99954% off'],
 ['Strollin', 'Sneakers For Men', '₹420₹99957% off'],
 ['Zsyto',
  'Sneakers For Men',
  '₹328₹1,29974% off',
  'Buy 2 items, save extra 5%'],
 ['CLYMB', 'Sneakers For Men', '₹649₹1,49956% off', 'Free delivery'],
 ['Robbie jones', 'Sneakers For Men', '₹499₹99950% off'],
 ['Afreet',
  'Sneakers For Men',
  '₹489₹99951% off',
  'Buy 2 items, save extra 5%'],
 ['BRUTON',
  'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
  '₹530₹2,49978% off',
  'Free delivery'],
 ['DUNKASTON', 'Sneakers For Men', '₹449₹1,49970% off'],
 ['Numenzo', 'White Sneaker For Men Sneakers For Men', '₹407₹1,29968% off'],
 ['Deals4you', 'Sneakers For Men', '₹649₹1,99967% off', 'Free delivery'],
 ['India hub',
  'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
  '₹429₹1,99978% off'],
 ['RapidBox', 'Sneakers For Men', '₹680₹99931% off'],
 ['BIRDE',
  'Combo Pack of 2 Casual shoes Sneakers For Men',
  '₹509₹1,49866% off'],
 ['GLOSSY LIFE', 'Sneakers For Men', '₹599₹2,99980% off', 'Free delivery'],
 ['HRDK', 'Sneakers For Men', '₹368₹99963% off'],
 ['Lee Won', 'FASHION Sneakers For Men', '₹299₹49940% off'],
 ['WHITE WALKERS',
  'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
  '₹599₹1,19850% off',
  'Free delivery'],
 ['T-ROCK',
  "Men's Stylish Sports Causal Sneakers shoes Sneakers For...",
  '₹699₹99930% off',
  'Free delivery'],
 ['SPARX', 'SM-322 Sneakers For Men', '₹891₹1,04915% off', 'Free delivery'],
 ['Echor',
  "Echor Men's Sneakers Fashion Lightweight Running Shoes ...",
  '₹498₹1,49966% off'],
 ['believe', 'Sneakers for men(black_6) Sneakers For Men', '₹424₹99957% off'],
 ['M7 By Metronaut', 'Sneakers For Men', '₹729₹1,49951% off', 'Free delivery'],
 ['Kraasa', 'Shark-41 Sneakers For Men', '₹449₹99955% off'],
 ['RODDICK SHOES',
  'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
  '₹474₹99952% off'],
 ['STRANGER BROTHERS', 'Sneakers For Men', '₹449₹99955% off'],
 ['EEKEN', 'Sneakers For Men', '₹879₹1,59945% off', 'Free delivery'],
 ['aadi', 'Sneakers For Men', '₹399₹1,99980% off'],
 ['Airland',
  'Sneakers Shoes For Men Black Sneakers For Men',
  '₹190₹49961% off'],
 ['ASIAN', 'Sneakers For Men', '₹649₹1,29950% off', 'Free delivery'],
 ['PUMA',
  'Puma Smash v2 Buck Sneakers For Men',
  '₹1,749₹3,49950% off',
  'Free delivery',
  'Buy 2 items, save extra 5%'],
 ['LE GREEM',
  'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
  '₹426₹99957% off',
  'Buy 2 items, save extra 5%'],
 ['BRUTON',
  'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
  '₹536₹2,49978% off',
  'Free delivery'],
 ['Bond Street By Red Tape',
  'Sneakers For Men',
  '₹1,259₹4,19970% off',
  'Free delivery'],
 ['PEHANOSA',
  'Casuals Walking Shoes Boxing & Wrestling Shoes Basketba...',
  '₹439₹99956% off'],
 ['Chevit',
  'Perfect Combo Pack of 02 Shoes for Men Casual Sneakers ...',
  '₹446₹99855% off'],
 ['Wenzel', 'Sneakers For Men', '₹499₹99950% off', 'Free delivery'],
 ['Chevit',
  'Chevit Latest Fashion Combo Pack of 2 Pairs Casual Outd...',
  '₹581₹1,49861% off',
  'Free delivery'],
 ['BIRDE', 'Combo Pack of 2 Casual Shoes Sneakers For Men', '₹423₹99957% off'],
 ['JACK & JONES',
  'JFWBENNY KNIT SLIP ON Sneakers For Men',
  '₹1,048₹2,99965% off',
  'Free delivery',
  'Buy 2 items, save extra 5%'],
 ['United Colors of Benetton',
  'Sneakers For Men',
  '₹1,664₹3,69955% off',
  'Free delivery'],
 ["LEVI'S",
  'Indi Wish Sneaker For Men',
  '₹1,199₹3,99970% off',
  'Free delivery'],
 ['PUMA',
  'Ferrari Neo Cat Sneakers For Men',
  '₹3,999₹7,99950% off',
  'Free delivery'],
 ['PUMA', 'X-Ray Sneakers For Men', '₹3,499₹6,99950% off', 'Free delivery'],
 ['India hub', 'Sneakers For Men', '₹449₹1,99977% off'],
 ['obot',
  'casual shoes for men sneakers for boys party wear outdo...',
  '₹549₹1,49963% off',
  'Free delivery'],
 ['Cipramo',
  'Casual Comfortable Sneakers For Walking|Running Sneaker...',
  '₹999₹1,49933% off',
  'Free delivery'],
 ['BRUTON',
  'Combo Pack Of 3 Latest Casual Shoes Sneakers For Men',
  '₹447₹2,99985% off'],
 ['M7 By Metronaut', 'Sneakers For Men', '₹729₹1,49951% off', 'Free delivery'],
 ['Trendmode', 'Sneakers For Men', '₹369₹69947% off'],
 ['Cipramo',
  'CPM-5110 Sneakers For Men',
  '₹999₹1,49933% off',
  'Free delivery'],
 ['RED TAPE', 'Sneakers For Men', '₹1,011₹4,59978% off', 'Free delivery'],
 ['Dicy', 'Sneakers For Men', '₹392₹59934% off'],
 ['BRUTON',
  'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
  '₹447₹2,49982% off'],
 ['Cipramo',
  'Casual Comfortable Sneakers For Walking|Running Sneaker...',
  '₹999₹1,49933% off',
  'Free delivery'],
 ['Next INN', 'Sneakers For Men', '₹499₹1,29961% off'],
 ['KILLER', 'Sneakers For Men', '₹899₹2,99970% off', 'Free delivery'],
 ['Robbie jones',
  'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
  '₹474₹99952% off'],
 ['PUMA',
  'RBR X-Ray 2 Sneakers For Men',
  '₹3,599₹7,99955% off',
  'Free delivery'],
 ['Skechers',
  'INGRAM - BREXIE Sneakers For Men',
  '₹3,359₹6,99952% off',
  'Free delivery'],
 ['PUMA', 'Smash v2 Sneakers For Men', '₹1,999₹3,99950% off', 'Free delivery'],
 ['DUCATI',
  'Sneakers For Men',
  '₹1,439₹3,59960% off',
  'Free delivery',
  'Buy 2 items, save extra 5%'],
 ['BIRDE', 'Sneakers For Men', '₹535₹99846% off', 'Free delivery'],
 ['Absolute comfort', 'SOFT Sneakers For Men', '₹166₹49966% off'],
 ['BIRDE',
  'Combo Pack of 2 Casual Shoes Sneakers For Men',
  '₹525₹99947% off',
  'Free delivery'],
 ['WOODLAND', 'Sneakers For Men', '₹2,995'],
 ['Cipramo',
  'Casual Sneakers For Men For Walking/Running/Gym Sneaker...',
  '₹999₹1,69941% off',
  'Free delivery'],
 ['JACK & JONES',
  'JFWTED CANVAS VULC Sneakers For Men',
  '₹1,096₹3,49968% off',
  'Free delivery',
  'Buy 2 items, save extra 5%'],
 ['BIRDE',
  'Combo Pack of 2 Casual Shoes Sneakers For Men',
  '₹536₹1,49864% off',
  'Free delivery'],
 ['Robbie jones', 'Sneakers For Men', '₹474₹99952% off'],
 ['ADIDAS',
  'BREAKNET PLUS Sneakers For Men',
  '₹3,299₹5,99945% off',
  'Free delivery'],
 ['Asian Shoes',
  'Future-04 casual shoes for men | Latest Stylish Casual ...',
  '₹524₹69925% off',
  'Free delivery'],
 ['PEHANOSA', 'Sneaker for men Sneakers For Men', '₹439₹99956% off'],
 ['luxury fashion',
  'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
  '₹479₹2,99984% off'],
 ['ADIDAS',
  'Advantage Base Sneakers For Men',
  '₹2,209₹4,99955% off',
  'Free delivery'],
 ['GOOD MINAR',
  'Casual/ Sneakers/walking/Sports/cricket/casual lace-ups...',
  '₹449₹1,19962% off'],
 ['Chevit',
  '170 Smart Grey Lace-Ups Casuals for Men Sneakers For Me...',
  '₹259₹49948% off'],
 ['WROGN',
  'Athleisure Sneakers For Men',
  '₹979₹2,79965% off',
  'Free delivery'],
 ['EEKEN',
  'Lightweight Shoes Sneakers For Men',
  '₹879₹1,59945% off',
  'Free delivery'],
 ['M7 By Metronaut',
  '(M7-22503)-Black Grey Sneakers For Men',
  '₹729₹1,49951% off',
  'Free delivery'],
 ['Numenzo', 'Sneakers For Men', '₹499₹1,99975% off'],
 ['FLYING MACHINE', 'Sneakers For Men', '₹698₹2,99976% off', 'Free delivery'],
 ['PUMA',
  'X-Ray Millenium Sneakers For Men',
  '₹3,149₹6,99955% off',
  'Free delivery'],
 ['PUMA',
  'Puma Wired Cage Sneakers For Men',
  '₹1,749₹3,49950% off',
  'Free delivery',
  'Buy 2 items, save extra 5%'],
 ['NIKE', 'TANJUN Sneakers For Men', '₹2,877₹4,79540% off', 'Free delivery'],
 ['Nilatin', 'White Sneaker for Men Sneakers For Men', '₹407₹1,29968% off'],
 ['Cipramo',
  'Casual Comfortable Sneakers For Walking|Running Sneaker...',
  '₹999₹1,49933% off',
  'Free delivery'],
 ['WROGN',
  'Athleisure Sneakers For Men',
  '₹979₹2,79965% off',
  'Free delivery'],
 ['Camfoot',
  'Combo Pack of 2 Latest Collection Stylish Casual Shoes ...',
  '₹459₹99854% off'],
 ['asics',
  'GEL-KENUN 2 Sneakers For Men',
  '₹5,399₹11,99955% off',
  'Free delivery'],
 ['RED TAPE', 'Sneakers For Men', '₹989₹4,49978% off', 'Free delivery'],
 ['GOOD MINAR',
  'Fashion and Stylish Designer shoes with Printed sole Ou...',
  '₹447₹1,19962% off'],
 ['FLYING MACHINE', 'Sneakers For Men', '₹698₹3,59980% off', 'Free delivery'],
 ['Noztile',
  'Casual Party Wear Shoe Men Sneakers For Men',
  '₹499₹1,99975% off'],
 ['PUMA',
  'Rigel Sneakers For Men',
  '₹1,256₹2,79955% off',
  'Free delivery',
  'Buy 2 items, save extra 5%'],
 ['PUMA',
  'Ferrari R-Cat Machina Sneakers For Men',
  '₹3,369₹7,49955% off',
  'Free delivery'],
 ['restinfoot',
  "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
  '₹407₹99959% off'],
 ['WROGN',
  'Athleisure Sneakers For Men',
  '₹979₹2,79965% off',
  'Free delivery'],
 ['PUMA',
  'Mirage Mox Sneakers For Men',
  '₹3,359₹7,99958% off',
  'Free delivery'],
 ['Carlo Style',
  'Mens Canvas Shoes for boys (Black) Sneakers For Men',
  '₹444₹99955% off'],
 ['City Soles',
  'Cipramo Canvas Shoes for Men Sneakers For Men',
  '₹664₹99933% off'],
 ['Chevit',
  'Perfect Collection Combo Pack of 02 Shoes for Men Casua...',
  '₹446₹99855% off'],
 ['RED TAPE', 'Sneakers For Men', '₹1,033₹4,69978% off', 'Free delivery'],
 ['ADIDAS',
  'ADVANTAGE BASE Sneakers For Men',
  '₹2,229₹4,99955% off',
  'Free delivery'],
 ['CLYMB',
  "Perfect Casual Loafer Shoes for Men's Running Training ...",
  '₹499₹99950% off'],
 ['India hub',
  'luxury fashionable casual sneaker shoes Sneakers For Me...',
  '₹499₹1,29961% off'],
 ['ADIDAS',
  'Vs Pace Sneakers For Men',
  '₹1,369₹3,99965% off',
  'Free delivery',
  'Buy 2 items, save extra 5%'],
 ['BRUTON',
  'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
  '₹447₹2,49982% off'],
 ['BIRDE',
  'Combo Pack of 2 Casual Shoes Sneakers For Men',
  '₹599₹99940% off',
  'Free delivery'],
 ['WOODLAND', 'Sneakers For Men', '₹1,646₹2,19525% off', 'Free delivery'],
 ['ADIDAS',
  'VL COURT 2.0 Sneakers For Men',
  '₹3,079₹5,59945% off',
  'Free delivery'],
 ['bacca bucci',
  'Mens Ultraforce Mid-top Athletic-Inspired Retro Fashion...',
  '₹1,199₹2,49952% off',
  'Free delivery'],
 ['PROVOGUE', 'Sneakers For Men', '₹739₹1,99963% off', 'Free delivery'],
 ['T-ROCK',
  "Men's Stylish Sports Causal Sneakers shoes Sneakers For...",
  '₹699₹99930% off',
  'Free delivery'],
 ['RED CHIEF', 'Sneakers For Men', '₹1,449₹2,89950% off', 'Free delivery']]

In [223]:
brand = [i[0] for i in desc1]

['ESSENCE',
 'Kraasa',
 'Starlinc',
 'Echor',
 'BIRDE',
 'URBANBOX',
 'Robbie jones',
 'Strollin',
 'Zsyto',
 'CLYMB',
 'Robbie jones',
 'Afreet',
 'BRUTON',
 'DUNKASTON',
 'Numenzo',
 'Deals4you',
 'India hub',
 'RapidBox',
 'BIRDE',
 'GLOSSY LIFE',
 'HRDK',
 'Lee Won',
 'WHITE WALKERS',
 'T-ROCK',
 'SPARX',
 'Echor',
 'believe',
 'M7 By Metronaut',
 'Kraasa',
 'RODDICK SHOES',
 'STRANGER BROTHERS',
 'EEKEN',
 'aadi',
 'Airland',
 'ASIAN',
 'PUMA',
 'LE GREEM',
 'BRUTON',
 'Bond Street By Red Tape',
 'PEHANOSA',
 'Chevit',
 'Wenzel',
 'Chevit',
 'BIRDE',
 'JACK & JONES',
 'United Colors of Benetton',
 "LEVI'S",
 'PUMA',
 'PUMA',
 'India hub',
 'obot',
 'Cipramo',
 'BRUTON',
 'M7 By Metronaut',
 'Trendmode',
 'Cipramo',
 'RED TAPE',
 'Dicy',
 'BRUTON',
 'Cipramo',
 'Next INN',
 'KILLER',
 'Robbie jones',
 'PUMA',
 'Skechers',
 'PUMA',
 'DUCATI',
 'BIRDE',
 'Absolute comfort',
 'BIRDE',
 'WOODLAND',
 'Cipramo',
 'JACK & JONES',
 'BIRDE',
 'Robbie jones',
 'ADIDAS',
 'Asian Shoes',
 'PEHANOSA',
 'luxury fashion',
 'ADIDAS',
 'GOOD MINAR',
 'Chevit',
 'WROGN',
 'EEKEN',
 'M7 By Metronaut',
 'Numenzo',
 'FLYING MACHINE',
 'PUMA',
 'PUMA',
 'NIKE',
 'Nilatin',
 'Cipramo',
 'WROGN',
 'Camfoot',
 'asics',
 'RED TAPE',
 'GOOD MINAR',
 'FLYING MACHINE',
 'Noztile',
 'PUMA',
 'PUMA',
 'restinfoot',
 'WROGN',
 'PUMA',
 'Carlo Style',
 'City Soles',
 'Chevit',
 'RED TAPE',
 'ADIDAS',
 'CLYMB',
 'India hub',
 'ADIDAS',
 'BRUTON',
 'BIRDE',
 'WOODLAND',
 'ADIDAS',
 'bacca bucci',
 'PROVOGUE',
 'T-ROCK',
 'RED CHIEF']

In [224]:
description = [i[1] for i in desc1]

['Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 "Echor Men's Sneakers Fashion Lightweight Running Shoes ...",
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'STYLISH-WHITE-6 Sneakers For Men',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sneakers For Men',
 'White Sneaker For Men Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 'Combo Pack of 2 Casual shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'FASHION Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 "Men's Stylish Sports Causal Sneakers shoes Sneakers For...",
 'SM-322 Sneakers For Men',
 "Echor Men's Sneakers Fashion Lightweight Running Shoes ...",
 'Sneakers for men(black_6) Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Shoes For Men Black Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 Buck Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'Casuals Walking Shoes Boxing & Wrestling Shoes Basketba...',
 'Perfect Combo Pack of 02 Shoes for Men Casual Sneakers ...',
 'Sneakers For Men',
 'Chevit Latest Fashion Combo Pack of 2 Pairs Casual Outd...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'JFWBENNY KNIT SLIP ON Sneakers For Men',
 'Sneakers For Men',
 'Indi Wish Sneaker For Men',
 'Ferrari Neo Cat Sneakers For Men',
 'X-Ray Sneakers For Men',
 'Sneakers For Men',
 'casual shoes for men sneakers for boys party wear outdo...',
 'Casual Comfortable Sneakers For Walking|Running Sneaker...',
 'Combo Pack Of 3 Latest Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'CPM-5110 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Casual Comfortable Sneakers For Walking|Running Sneaker...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
 'RBR X-Ray 2 Sneakers For Men',
 'INGRAM - BREXIE Sneakers For Men',
 'Smash v2 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'SOFT Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers For Men For Walking/Running/Gym Sneaker...',
 'JFWTED CANVAS VULC Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'BREAKNET PLUS Sneakers For Men',
 'Future-04 casual shoes for men | Latest Stylish Casual ...',
 'Sneaker for men Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Advantage Base Sneakers For Men',
 'Casual/ Sneakers/walking/Sports/cricket/casual lace-ups...',
 '170 Smart Grey Lace-Ups Casuals for Men Sneakers For Me...',
 'Athleisure Sneakers For Men',
 'Lightweight Shoes Sneakers For Men',
 '(M7-22503)-Black Grey Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'X-Ray Millenium Sneakers For Men',
 'Puma Wired Cage Sneakers For Men',
 'TANJUN Sneakers For Men',
 'White Sneaker for Men Sneakers For Men',
 'Casual Comfortable Sneakers For Walking|Running Sneaker...',
 'Athleisure Sneakers For Men',
 'Combo Pack of 2 Latest Collection Stylish Casual Shoes ...',
 'GEL-KENUN 2 Sneakers For Men',
 'Sneakers For Men',
 'Fashion and Stylish Designer shoes with Printed sole Ou...',
 'Sneakers For Men',
 'Casual Party Wear Shoe Men Sneakers For Men',
 'Rigel Sneakers For Men',
 'Ferrari R-Cat Machina Sneakers For Men',
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'Athleisure Sneakers For Men',
 'Mirage Mox Sneakers For Men',
 'Mens Canvas Shoes for boys (Black) Sneakers For Men',
 'Cipramo Canvas Shoes for Men Sneakers For Men',
 'Perfect Collection Combo Pack of 02 Shoes for Men Casua...',
 'Sneakers For Men',
 'ADVANTAGE BASE Sneakers For Men',
 "Perfect Casual Loafer Shoes for Men's Running Training ...",
 'luxury fashionable casual sneaker shoes Sneakers For Me...',
 'Vs Pace Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'VL COURT 2.0 Sneakers For Men',
 'Mens Ultraforce Mid-top Athletic-Inspired Retro Fashion...',
 'Sneakers For Men',
 "Men's Stylish Sports Causal Sneakers shoes Sneakers For...",
 'Sneakers For Men']

In [226]:
price = [i[2] for i in desc1]

['₹399₹99960% off',
 '₹444₹99955% off',
 '₹237₹99976% off',
 '₹569₹1,49962% off',
 '₹594₹1,49960% off',
 '₹220₹49955% off',
 '₹451₹99954% off',
 '₹420₹99957% off',
 '₹328₹1,29974% off',
 '₹649₹1,49956% off',
 '₹499₹99950% off',
 '₹489₹99951% off',
 '₹530₹2,49978% off',
 '₹449₹1,49970% off',
 '₹407₹1,29968% off',
 '₹649₹1,99967% off',
 '₹429₹1,99978% off',
 '₹680₹99931% off',
 '₹509₹1,49866% off',
 '₹599₹2,99980% off',
 '₹368₹99963% off',
 '₹299₹49940% off',
 '₹599₹1,19850% off',
 '₹699₹99930% off',
 '₹891₹1,04915% off',
 '₹498₹1,49966% off',
 '₹424₹99957% off',
 '₹729₹1,49951% off',
 '₹449₹99955% off',
 '₹474₹99952% off',
 '₹449₹99955% off',
 '₹879₹1,59945% off',
 '₹399₹1,99980% off',
 '₹190₹49961% off',
 '₹649₹1,29950% off',
 '₹1,749₹3,49950% off',
 '₹426₹99957% off',
 '₹536₹2,49978% off',
 '₹1,259₹4,19970% off',
 '₹439₹99956% off',
 '₹446₹99855% off',
 '₹499₹99950% off',
 '₹581₹1,49861% off',
 '₹423₹99957% off',
 '₹1,048₹2,99965% off',
 '₹1,664₹3,69955% off',
 '₹1,199₹3,99970% off',
 '₹3,999₹7,99950% off',
 '₹3,499₹6,99950% off',
 '₹449₹1,99977% off',
 '₹549₹1,49963% off',
 '₹999₹1,49933% off',
 '₹447₹2,99985% off',
 '₹729₹1,49951% off',
 '₹369₹69947% off',
 '₹999₹1,49933% off',
 '₹1,011₹4,59978% off',
 '₹392₹59934% off',
 '₹447₹2,49982% off',
 '₹999₹1,49933% off',
 '₹499₹1,29961% off',
 '₹899₹2,99970% off',
 '₹474₹99952% off',
 '₹3,599₹7,99955% off',
 '₹3,359₹6,99952% off',
 '₹1,999₹3,99950% off',
 '₹1,439₹3,59960% off',
 '₹535₹99846% off',
 '₹166₹49966% off',
 '₹525₹99947% off',
 '₹2,995',
 '₹999₹1,69941% off',
 '₹1,096₹3,49968% off',
 '₹536₹1,49864% off',
 '₹474₹99952% off',
 '₹3,299₹5,99945% off',
 '₹524₹69925% off',
 '₹439₹99956% off',
 '₹479₹2,99984% off',
 '₹2,209₹4,99955% off',
 '₹449₹1,19962% off',
 '₹259₹49948% off',
 '₹979₹2,79965% off',
 '₹879₹1,59945% off',
 '₹729₹1,49951% off',
 '₹499₹1,99975% off',
 '₹698₹2,99976% off',
 '₹3,149₹6,99955% off',
 '₹1,749₹3,49950% off',
 '₹2,877₹4,79540% off',
 '₹407₹1,29968% off',
 '₹999₹1,49933% off',
 '₹979₹2,79965% off',
 '₹459₹99854% off',
 '₹5,399₹11,99955% off',
 '₹989₹4,49978% off',
 '₹447₹1,19962% off',
 '₹698₹3,59980% off',
 '₹499₹1,99975% off',
 '₹1,256₹2,79955% off',
 '₹3,369₹7,49955% off',
 '₹407₹99959% off',
 '₹979₹2,79965% off',
 '₹3,359₹7,99958% off',
 '₹444₹99955% off',
 '₹664₹99933% off',
 '₹446₹99855% off',
 '₹1,033₹4,69978% off',
 '₹2,229₹4,99955% off',
 '₹499₹99950% off',
 '₹499₹1,29961% off',
 '₹1,369₹3,99965% off',
 '₹447₹2,49982% off',
 '₹599₹99940% off',
 '₹1,646₹2,19525% off',
 '₹3,079₹5,59945% off',
 '₹1,199₹2,49952% off',
 '₹739₹1,99963% off',
 '₹699₹99930% off',
 '₹1,449₹2,89950% off']

In [227]:
prod_price = [i.split('₹', 2)[1] for i in price]

['399',
 '444',
 '237',
 '569',
 '594',
 '220',
 '451',
 '420',
 '328',
 '649',
 '499',
 '489',
 '530',
 '449',
 '407',
 '649',
 '429',
 '680',
 '509',
 '599',
 '368',
 '299',
 '599',
 '699',
 '891',
 '498',
 '424',
 '729',
 '449',
 '474',
 '449',
 '879',
 '399',
 '190',
 '649',
 '1,749',
 '426',
 '536',
 '1,259',
 '439',
 '446',
 '499',
 '581',
 '423',
 '1,048',
 '1,664',
 '1,199',
 '3,999',
 '3,499',
 '449',
 '549',
 '999',
 '447',
 '729',
 '369',
 '999',
 '1,011',
 '392',
 '447',
 '999',
 '499',
 '899',
 '474',
 '3,599',
 '3,359',
 '1,999',
 '1,439',
 '535',
 '166',
 '525',
 '2,995',
 '999',
 '1,096',
 '536',
 '474',
 '3,299',
 '524',
 '439',
 '479',
 '2,209',
 '449',
 '259',
 '979',
 '879',
 '729',
 '499',
 '698',
 '3,149',
 '1,749',
 '2,877',
 '407',
 '999',
 '979',
 '459',
 '5,399',
 '989',
 '447',
 '698',
 '499',
 '1,256',
 '3,369',
 '407',
 '979',
 '3,359',
 '444',
 '664',
 '446',
 '1,033',
 '2,229',
 '499',
 '499',
 '1,369',
 '447',
 '599',
 '1,646',
 '3,079',
 '1,199',
 '739',
 '699',
 '1,449']

In [228]:
discount = [i[-7:] for i in price]

['60% off',
 '55% off',
 '76% off',
 '62% off',
 '60% off',
 '55% off',
 '54% off',
 '57% off',
 '74% off',
 '56% off',
 '50% off',
 '51% off',
 '78% off',
 '70% off',
 '68% off',
 '67% off',
 '78% off',
 '31% off',
 '66% off',
 '80% off',
 '63% off',
 '40% off',
 '50% off',
 '30% off',
 '15% off',
 '66% off',
 '57% off',
 '51% off',
 '55% off',
 '52% off',
 '55% off',
 '45% off',
 '80% off',
 '61% off',
 '50% off',
 '50% off',
 '57% off',
 '78% off',
 '70% off',
 '56% off',
 '55% off',
 '50% off',
 '61% off',
 '57% off',
 '65% off',
 '55% off',
 '70% off',
 '50% off',
 '50% off',
 '77% off',
 '63% off',
 '33% off',
 '85% off',
 '51% off',
 '47% off',
 '33% off',
 '78% off',
 '34% off',
 '82% off',
 '33% off',
 '61% off',
 '70% off',
 '52% off',
 '55% off',
 '52% off',
 '50% off',
 '60% off',
 '46% off',
 '66% off',
 '47% off',
 '₹2,995',
 '41% off',
 '68% off',
 '64% off',
 '52% off',
 '45% off',
 '25% off',
 '56% off',
 '84% off',
 '55% off',
 '62% off',
 '48% off',
 '65% off',
 '45% off',
 '51% off',
 '75% off',
 '76% off',
 '55% off',
 '50% off',
 '40% off',
 '68% off',
 '33% off',
 '65% off',
 '54% off',
 '55% off',
 '78% off',
 '62% off',
 '80% off',
 '75% off',
 '55% off',
 '55% off',
 '59% off',
 '65% off',
 '58% off',
 '55% off',
 '33% off',
 '55% off',
 '78% off',
 '55% off',
 '50% off',
 '61% off',
 '65% off',
 '82% off',
 '40% off',
 '25% off',
 '45% off',
 '52% off',
 '63% off',
 '30% off',
 '50% off']

In [229]:
print(len(brand), len(description), len(prod_price), len(disc1))

120 120 120 118

In [230]:
Flipkart = pd.DataFrame()
Flipkart['Brand'] = brand[:100]
Flipkart['Description'] = description[:100]
Flipkart['Price'] = prod_price[:100]
Flipkart['Discount'] = disc1[:100]
Flipkart

,Brand,Description,Price,Discount
0,ESSENCE,Sneakers For Men,399,81% off
1,Kraasa,Series 7 Sneakers For Men,444,76% off
2,Starlinc,Sneakers For Men,237,82% off
3,Echor,Echor Men's Sneakers Fashion Lightweight Runni...,569,41% off
4,BIRDE,Combo Pack of 2 Casual Shoes Sneakers For Men,594,79% off
...,...,...,...,...
95,RED TAPE,Sneakers For Men,989,10% off
96,GOOD MINAR,Fashion and Stylish Designer shoes with Printe...,447,71% off
97,FLYING MACHINE,Sneakers For Men,698,66% off
98,Noztile,Casual Party Wear Shoe Men Sneakers For Men,499,55% off
99,PUMA,Rigel Sneakers For Men,"1,256",73% off

# Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. 
The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [81]:
browser = webdriver.Chrome('chromedriver.exe')
browser.get('https://www.myntra.com/shoes')
time.sleep(10)

In [82]:
#color_checkbox = browser.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
browser.execute_script("arguments[0].click();", WebDriverWait(browser, 30).until(EC.element_to_be_clickable((By.XPATH, "/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div"))))
#color_checkbox.click()

#The above mentioned code will wait until the element is clickable

In [83]:
#price_checkbox = browser.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
browser.execute_script("arguments[0].click();", WebDriverWait(browser, 30).until(EC.element_to_be_clickable((By.XPATH, "/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div"))))
#price_checkbox.click()

In [84]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [85]:
desc1 = []
for counter in range(0,3):    
    time.sleep(5)
    if counter==0:
        time.sleep(45) #sleep timer given as the element was not being loaded and throwing an exception of StaleElement
    description = browser.find_elements_by_xpath("//div[@class='product-productMetaInfo']")
    for i in description:
        desc1.append(i.text.split('\n'))
        
    browser.execute_script("arguments[0].click();", WebDriverWait(browser, 30).until(EC.element_to_be_clickable((By.XPATH, "//a[@rel='next']"))))
    counter=counter+1
print(len(desc1))

150

In [86]:
#desc1

In [87]:
brand = [i[0] for i in desc1]

In [88]:
description = [i[1] for i in desc1]

In [89]:
price = [i[2] for i in desc1]
prod_price = [i.split('Rs.', 2)[1] for i in price]

In [90]:
print(len(brand), len(description), len(prod_price))

150 150 150

In [91]:
import pandas as pd
Myntra = pd.DataFrame()
Myntra['Brand'] = brand[:100]
Myntra['Description'] = description[:100]
Myntra['Price'] = prod_price[:100]
Myntra

           Brand                          Description   Price
0           Puma            Men Magnify Nitro Running    7799
1        Saint G            Men Mid-Top Chelsea Boots   10500
2       Skechers       Men GO RUN RIDE 9 RunningShoes    8799
3        Bugatti                    Men Running Shoes    7999
4           Xtep                    Men Running Shoes    7699
..           ...                                  ...     ...
95  Hush Puppies    Men Solid Leather Formal Slip-Ons    8999
96  Hush Puppies            Men Solid Formal Slip-Ons    8999
97       Saint G           Women Leather Heeled Boots   12325
98       Saint G  Textured Leather Block Heeled Boots    9265
99          Nike            Women Air Max 90 Sneakers   10995

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [105]:
browser = webdriver.Chrome('chromedriver.exe')
browser.get('https://www.amazon.in/')
time.sleep(5)

In [106]:
search_laptop = browser.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
search_laptop.send_keys("laptop")
search_laptop.send_keys(u'\ue007')

In [107]:
try:
    browser.execute_script("arguments[0].click();", WebDriverWait(browser, 30).until(EC.element_to_be_clickable((By.XPATH, "/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[3]/li[12]/span/a/div/label/i"))))
except:
    browser.execute_script("arguments[0].click();", WebDriverWait(browser, 30).until(EC.element_to_be_clickable((By.XPATH, "/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[3]/li[11]/span/a/div/label/i"))))
#browser.execute_script("arguments[0].click();", WebDriverWait(browser, 30).until(EC.element_to_be_clickable((By.XPATH, "/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[3]/li[11]/span/a/div/label/i"))))

In [110]:
titles = browser.find_elements_by_xpath("//a[@class='a-link-normal s-link-style a-text-normal']")
title = []
for i in titles:
    title.append(i.text)

30

In [156]:
prices = browser.find_elements_by_xpath("//span[@class='a-price']")
price = []
for i in prices:
    price.append(i.text)

['₹94,999',
 '₹90,999',
 '₹59,990',
 '₹84,990',
 '₹49,990',
 '₹89,490',
 '₹96,990',
 '₹88,990',
 '₹79,990',
 '₹1,14,990',
 '₹88,890',
 '₹77,999',
 '₹89,990',
 '₹69,990',
 '₹77,999',
 '₹1,10,000',
 '₹87,490',
 '₹1,06,799',
 '₹97,920',
 '₹94,999',
 '₹84,990',
 '₹36,898',
 '₹99,990',
 '₹1,02,490',
 '₹59,990',
 '₹86,990',
 '₹91,414',
 '₹54,999',
 '₹89,490',
 '₹49,990']

In [157]:
import pandas as pd
laptop = pd.DataFrame()
laptop['Brand'] = title[:10]
laptop['Description'] = price[:10]
laptop

                                               Brand Description
0  LG Gram 17-inches Ultra-Light Intel Evo 11th G...     ₹94,999
1  LG Gram 16-inches Ultra-Light Intel Evo 11th G...     ₹90,999
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...     ₹59,990
3  HP Pavilion x360 11th Gen Intel Core i7-16GB R...     ₹84,990
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...     ₹49,990
5  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...     ₹89,490
6  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...     ₹96,990
7  HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...     ₹88,990
8  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...     ₹79,990
9  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...   ₹1,14,990

In [ ]:
#unable to extract ratings, please guide

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. 
You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [4]:
browser = webdriver.Chrome('chromedriver.exe')
browser.get('https://www.ambitionbox.com/')
time.sleep(5)

In [5]:
jobs = browser.find_element_by_xpath("//a[@class='link jobs']")
jobs.click()

In [6]:
designation = browser.find_element_by_xpath("//input[@class='input tt-input']")
designation.send_keys("Data Scientist")

In [7]:
search = browser.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search.click()
time.sleep(10)

In [8]:
location = browser.find_element_by_xpath("//div[@title='Location']")
location.click()

In [9]:
location_noida = browser.find_element_by_xpath("//input[@placeholder='Search locations']")
location_noida.send_keys("Noida")
time.sleep(5)

In [10]:
#browser.execute_script("arguments[0].click();", WebDriverWait(browser, 30).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='location_Noida"))))
label_noida = browser.find_element_by_xpath("//input[@id='location_Noida']")
label_noida.click()

In [11]:
more_jobs = browser.find_element_by_xpath("//button[@class='ab_btn load-more-btn invert']")
more_jobs.click()
time.sleep(10)

In [12]:
company = browser.find_elements_by_xpath("//p[@class='company body-medium']")
company_name = []
for i in company:
    company_name.append(i.text)

In [13]:
company_name

['J.P. Morgan Services India Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'JP Morgan Chase',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Optum Global Solutions (India) Private Limited',
 'EY GDS',
 'Ameriprise Financial',
 'Jubilant Foodworks Limited',
 'Zyoin',
 'CHT Sapiense',
 'Paytm',
 'CHT Sapiense',
 'GI Group',
 'GI Group']

In [14]:
other_info = browser.find_elements_by_xpath("//div[@class='other-info']")
info = []
for i in other_info:
    info.append(i.text.split('\n'))

In [15]:
days = [i[-1] for i in info]
days_ago = [i.split('·', 2)[0] for i in days]

In [16]:
rate = browser.find_elements_by_xpath("//div[@class='rating-wrapper']")

In [22]:
rating = []
for i in rate:
    rating.append(i.text.split('\n'))
rating[3:]

[['4.1', 'based on 2.3k Reviews'],
 ['4.1', '(2.3k Reviews)'],
 ['4.1', '(11k Reviews)'],
 ['4.1', '(11k Reviews)'],
 ['4.1', '(2.3k Reviews)'],
 ['4.1', '(11k Reviews)'],
 ['4.1', '(11k Reviews)'],
 ['4.1', '(11k Reviews)'],
 ['4.1', '(11k Reviews)'],
 ['4.1', '(11k Reviews)'],
 ['4.1', '(11k Reviews)'],
 ['4.1', '(1.5k Reviews)'],
 ['3.7', '(3.8k Reviews)'],
 ['4.0', '(272 Reviews)'],
 ['3.9', '(504 Reviews)'],
 ['4.1', '(66 Reviews)'],
 ['3.8', '(105 Reviews)'],
 ['3.7', '(2.7k Reviews)'],
 ['3.8', '(105 Reviews)'],
 ['4.1', '(70 Reviews)'],
 ['4.1', '(70 Reviews)']]

In [24]:
ratings = [i[0] for i in rating]
ratings = ratings[3:]

In [25]:
import pandas as pd
ambtionbox = pd.DataFrame()
ambtionbox['Company Name'] = company_name[:10]
ambtionbox['Days Ago'] = days_ago[:10]
ambtionbox['Ratings'] = ratings[:10]
ambtionbox

                                 Company Name Days Ago Ratings
0  J.P. Morgan Services India Private Limited   6d ago     4.1
1                      IBM India Pvt. Limited   6d ago     4.1
2                      IBM India Pvt. Limited   6d ago     4.1
3                             JP Morgan Chase   6d ago     4.1
4                      IBM India Pvt. Limited   6d ago     4.1
5                      IBM India Pvt. Limited   6d ago     4.1
6                      IBM India Pvt. Limited   6d ago     4.1
7                      IBM India Pvt. Limited   6d ago     4.1
8                      IBM India Pvt. Limited   6d ago     4.1
9                      IBM India Pvt. Limited   6d ago     4.1

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
You
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually.

In [21]:
browser = webdriver.Chrome('chromedriver.exe')
browser.get('https://www.ambitionbox.com/')
time.sleep(5)

In [22]:
salaries = browser.find_element_by_xpath("//a[@class='link salaries']")
salaries.click()

In [23]:
designation = browser.find_element_by_xpath("//input[@class='component-input tt-input']")
designation.send_keys("Data Scientist")
time.sleep(5)

In [24]:
data_scientist = browser.find_element_by_xpath("/html/body/div/div/div/div[2]/div/div/div/div[1]/span/div/div[2]/div[2]/div[2]/div/p")
data_scientist.click()

In [25]:
search_button = browser.find_element_by_xpath("//button[@class='ab_btn search-btn round component-search-btn']")
search_button.click()

In [26]:
result = browser.find_elements_by_xpath("//div[@class='result-row']")
results = []
for i in result:
    results.append(i.text.split('\n'))

In [27]:
company_name = [i[0] for i in results]

In [28]:
salary_record = [i[1] for i in results]

In [29]:
average_salary = [i[4] for i in results]

In [30]:
min_salary = [i[5] for i in results]

In [31]:
max_salary = [i[6] for i in results]

In [32]:
exp_reqd = [i[3] for i in results]

In [33]:
import pandas as pd
Ambition_Box = pd.DataFrame()
Ambition_Box['Company Name'] = company_name
Ambition_Box['Total Salary Record'] = salary_record
Ambition_Box['Average Salary'] = average_salary
Ambition_Box['Minimum Salary'] = min_salary
Ambition_Box['Maximum Salary'] = max_salary
Ambition_Box['Experience Required'] = exp_reqd
Ambition_Box

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,TCS,(662 Salaries),₹ 7.5L,₹ 4.5L,₹ 15.0L,2-9 yrs exp
1,Accenture,(400 Salaries),₹ 12.0L,₹ 5.5L,₹ 22.0L,2-9 yrs exp
2,IBM,(311 Salaries),₹ 12.1L,₹ 5.1L,₹ 24.0L,2-12 yrs exp
3,Cognizant,(261 Salaries),₹ 9.4L,₹ 5.0L,₹ 17.0L,2-11 yrs exp
4,Capgemini,(246 Salaries),₹ 8.3L,₹ 4.6L,₹ 14.3L,2-8 yrs exp
5,Tech Mahindra,(195 Salaries),₹ 7.7L,₹ 4.2L,₹ 16.0L,2-13 yrs exp
6,Infosys,(186 Salaries),₹ 8.8L,₹ 4.5L,₹ 21.0L,2-8 yrs exp
7,Wipro,(174 Salaries),₹ 9.4L,₹ 4.4L,₹ 18.0L,2-9 yrs exp
8,Ericsson,(128 Salaries),₹ 13.5L,₹ 5.3L,₹ 25.0L,2-12 yrs exp
9,Fractal Analytics,(125 Salaries),₹ 15.2L,₹ 9.5L,₹ 22.0L,2-6 yrs exp